<% include header.html %>
<link href="css/login.css" rel="stylesheet">

<div class="container">

    <%
        if (locals.error) {
    %>
    <div class="alert bg-danger">
        <a class="close" data-dismiss="alert">×</a>
        <strong>Error: </strong> <%= error %>
    </div>
    <%
        }
    %>


    <form class="form-signin" role="form" action="login" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div> <!-- /container -->

<% include footer.html %>